@{
    ViewBag.Title = "Quản lý Người giao hàng";
}
@model SV22T1020292.Models.Common.PagedResult<SV22T1020292.Models.Partner.Shipper>
@section PageToolBar {
    <a href="~/Shipper/Create" class="btn btn-primary">
        <i class="bi bi-plus-circle me-1"></i>
        Bổ sung
    </a>
}

<div class="card mb-3">
    <div class="card-body">
        <form id="formSearch" method="get" action="~/Shipper">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       name="SearchValue"
                       value="@(ViewBag.SearchValue ?? "")"
                       placeholder="Tên người giao hàng..." autofocus />
                <button type="submit" class="btn btn-info d-flex align-items-center">
                    <i class="bi bi-search me-1"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="mb-2 text-muted">
    Danh sách này có <strong>@Model.RowCount</strong> người giao hàng
</div>

<div class="card">
    <div class="card-body p-1">
        <table class="table table-bordered table-hover mb-0">
            <thead class="table-secondary">
                <tr>
                    <th>Tên người giao hàng</th>
                    <th>Điện thoại</th>
                    <th class="text-center" style="width:100px;">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DataItems)
                {
                    <tr>
                        <td>@item.ShipperName</td>
                        <td>@item.Phone</td>
                        <td class="text-center text-nowrap">
                            <a href="~/Shipper/Edit/@item.ShipperID" class="btn btn-sm btn-primary">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="~/Shipper/Delete/@item.ShipperID" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        <ul class="pagination justify-content-center mb-0">
            @foreach (var p in Model.GetDisplayPages())
            {
                if (p.IsEllipsis)
                {
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                }
                else
                {
                    <li class="page-item @(p.IsCurrent ? "active" : "")">
                        <a class="page-link"
                           href="~/Shipper?Page=@p.Page&PageSize=@Model.PageSize&SearchValue=@(ViewBag.SearchValue ?? "")">@p.Page</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
